<application>
  <component name="AlipaySettings">
    <option name="authInfo">
      <IdeAuthInfo>
        <option name="token" value="authlogBa6be882f12d946e09200224d77647X09" />
        <option name="version" value="com.alipay.antcloud.ide-1.0.13" />
      </IdeAuthInfo>
    </option>
  </component>
</application>